name: CI Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.py"

env:
  PYTHONPATH: "${{ github.workspace }}"
  PACKAGE_NAME: "CI_BLENDERKIT_ASSET_TASKS"

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: &python-versions
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
      - &checkout-code-lfs
        name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - &setup-system
        name: Setup system
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb libxcb-cursor0 libxkbcommon-x11-0 libxcb-xinerama0 libxcb-randr0 libxcb-shape0 libxcb-xfixes0 libxcb-sync1 libxcb1 libx11-xcb1 libsm6 libxext6 libgl1 libegl1

      - &setup-python
        name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - &install-uv
        name: Add UV
        run: pip install uv

      - &create-venv
        name: Create venv
        working-directory: blenderkit_asset_tasks
        run: |
          uv venv
          uv sync --all-groups --link-mode=copy
          uv run pip install -e .

      - name: Ruff
        working-directory: blenderkit_asset_tasks
        if: always()
        run: uv run ruff check

      - name: Bandit
        working-directory: blenderkit_asset_tasks
        if: always()
        run: uv run bandit -c _bandit.yaml -ll -r .

      - name: PyDocLint
        working-directory: blenderkit_asset_tasks
        if: always()
        run: uv run pydoclint .

  create_coverage:
    runs-on: ubuntu-latest
    steps:
      - *checkout-code-lfs
      - *setup-system
      - name: Set up Python 311
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - *install-uv
      - *create-venv

      - name: Run unit tests
        working-directory: blenderkit_asset_tasks
        run: |
          timeout 60s xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" \
          uv run -m coverage run -m unittest discover -s ./_test_blenderkit_asset_tasks/unittests

      - name: Create coverage
        working-directory: blenderkit_asset_tasks
        run: |
          uv run coverage xml -i
          uv run coverage html -i
          uv run coverage report -i

      - name: Save coverage report as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: blenderkit_asset_tasks/coverage.xml

      - name: Upload HTML Coverage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-html
          path: blenderkit_asset_tasks/htmlcov

  version_testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: *python-versions
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
      - *checkout-code-lfs
      - *setup-system
      - *setup-python
      - *install-uv
      - *create-venv

      - name: Run unit tests
        working-directory: blenderkit_asset_tasks
        run: |
          timeout 60s xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" \
          uv run -m unittest discover -s ./_test_blenderkit_asset_tasks/unittest
