name: Resolutions - PR

on:
  pull_request:
  workflow_dispatch:

env:
  BLENDERKIT_SERVER: 'https://www.blenderkit.com'
  BLENDERKIT_API_KEY: '${{ secrets.BLENDERKIT_API_KEY }}'
  BLENDERS_PATH: '/home/headless/blenders'
  SKIP_UPLOAD: 'True'

jobs:
  RESOLUTIONS:
    name: Generate RES (${{ matrix.asset_name }})
    runs-on: ubuntu-latest
    container: blenderkit/headless-blender:multi-version
    strategy:
      fail-fast: false
      matrix:
        include:
          #https://www.blenderkit.com/get-blenderkit/67f55944-a088-48de-8a60-6132547cbf75/
          - asset_name: model
            ASSET_BASE_ID: '67f55944-a088-48de-8a60-6132547cbf75'   # model

          #https://www.blenderkit.com/get-blenderkit/f2389247-c173-4a33-ae88-e4a2682cb91e/
          - asset_name: material
            ASSET_BASE_ID: 'f2389247-c173-4a33-ae88-e4a2682cb91e'   # material

          #https://www.blenderkit.com/get-blenderkit/066aa61d-6eb9-4e9a-8188-8f34c0b4d030/
          - asset_name: hdr
            ASSET_BASE_ID: '066aa61d-6eb9-4e9a-8188-8f34c0b4d030'   # HDR
    env:
      ASSET_BASE_ID: ${{ matrix.ASSET_BASE_ID }}
    steps:
      - uses: actions/checkout@v4
      - name: Install lsb-release
        run: apt-get update && apt-get install -y lsb-release python3-pip
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python3 -m pip install -r requirements.txt
      - name: Generate resolutions
        run: python3 generate_resolutions.py
