name: Resolutions - PUSH

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  BLENDERKIT_SERVER: 'https://devel.blenderkit.com'
  BLENDERKIT_API_KEY: '${{ secrets.DEVEL_BLENDERKIT_API_KEY }}'
  BLENDERS_PATH: '/home/headless/blenders'
  MAX_ASSET_COUNT: 1

jobs:
  RESOLUTIONS:
    runs-on: ubuntu-latest
    container: ghcr.io/blenderkit/headless-blender:blender-5.0 # LATEST STABLE
    steps:
      - uses: actions/checkout@v4
      - name: Install lsb-release
        run: apt-get update && apt-get install -y lsb-release python3-pip
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python3 -m pip install -r requirements.txt
      - name: Generate resolutions
        run: python3 generate_resolutions.py
