name: Process Addon
run-name: Process Add-on | ${{ github.event.inputs.asset_base_id || github.event.client_payload.asset_base_id }} | ${{ github.event.inputs.verification_status || github.event.client_payload.verification_status }} | ${{ github.event.inputs.is_private || github.event.client_payload.is_private }}

on:
  workflow_dispatch:
    inputs:
      asset_base_id:
        description: 'Asset Base ID'
        required: true
      verification_status:
        description: 'Verification Status of the Asset'
      is_private:
        description: 'Asset Is Private'
        type: boolean
  repository_dispatch:
    types: [process-addon]

env:
  BLENDERKIT_SERVER: 'https://www.blenderkit.com'
  BLENDERKIT_API_KEY: '${{ secrets.BLENDERKIT_API_KEY }}'
  TEXTYBOT_API_KEY: '${{ secrets.TEXTYBOT_API_KEY }}' # for commenting
  BLENDER_PATH: /home/headless/blender/blender
  ASSET_BASE_ID: ${{ github.event.inputs.asset_base_id || github.event.client_payload.asset_base_id }}

jobs:
  test_addon_in_blender:
    runs-on: ubuntu-latest
    continue-on-error: true
    if: (github.event.inputs.verification_status == 'uploaded' || github.event.client_payload.verification_status == 'uploaded') && (github.event.inputs.is_private != 'true' && github.event.client_payload.is_private != 'true')
    strategy:
      matrix:
        version: [4.2, 4.3, 4.4, 4.5, 5.0]
    container: ghcr.io/blenderkit/headless-blender:blender-${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Install lsb-release
        run: apt-get update && apt-get install -y lsb-release python3-pip
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python3 -m pip install -r requirements.txt
      - name: Run TEST script
        run: python3 test_addon.py
      - name: Upload results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: "blender-${{ matrix.version }}"
          path: "temp/test_addon_results.json"

  aggregate_results:
    name: Collect & Post Combined Results
    needs: test_addon_in_blender
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download all test artifacts
        uses: actions/download-artifact@v4
        with:
          path: temp
      - name: list results
        run: tree temp
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python3 -m pip install -r requirements.txt
      - name: Report test results
        run: python test_addon_report.py
